root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 120
ktlint_code_style = intellij_idea
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_max-line-length = disabled
ktlint_standard_value-parameter-comment = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_filename = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_standard_import-ordering = disabled

[*.xml]
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
